/*--
  Author: Caleb Spradlin
  Version: 0.3 
  NM 420 Storymap Project
-*/

body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: rgb(77, 77, 77);
}

h4 {
  margin-left: 5%; 
  margin-right: 5%;
}

.bgimg-1, .bgimg-2, .bgimg-3, .crossing, .trees, .grande, .cross, .crossing, .merlin {
  position: relative;
  opacity: 1.0;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg-1 {
  background-image: url("../img/bgOne.jpg");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("../img/bgTwo.jpg");
  min-height: 75%;
}

.crossing {
  background-image: url("../img/crossing.jpg");
  min-height: 100%;
}

.trees {
  background-image: url("../img/throughtrees.jpg");
  min-height: 100%;
}

.grande {
  background-image: url("../img/riogrande.jpg");
  min-height: 100%;
}

.cross {
  background-image: url("../img/cross.jpg");
  min-height: 100%;
}

.crossing {
  background-image: url("../img/crossing.jpg");
  min-height: 100%;
}

.merlin {
  background-image: url("../img/merlin.jpg");
  min-height: 100%;
}

.storyStyle{
  color: #515151;
  background-color:white;
  text-align:center;
  padding:50px 80px;
  text-align: justify; 
  margin-left: 18%; 
  margin-right: 18%;
}

.capBig{
  color:rgb(80, 80, 80);
  background-color:white;
  text-align:center;
  padding:50px 80px;
  text-align: justify;
}

.capSmall{
  color:rgb(80, 80, 80);
  background-color:white;
  text-align:center;
  padding:20px 80px;
  text-align: justify;
}

#mapid {
  min-height: 100%;
  position: relative;
  opacity: 1.0;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.centerImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}
.title{
  font-size: 25px;
  letter-spacing: 10px;
  color: #000;
}
.caption span.border {
  background-color: #fff;
  color: #000;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

.stickyElementLeft {
  position: sticky;
  position: -webkit-sticky;
  background-color: rgba(0, 0, 0, 0.8);
  width: 25%;
  height: 25%;
  top: 100px;
  display: flex;
  font-size:1.1em;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 6px #000;
  color: #fff;
  margin-left: 10%;
  padding: 15px;
  }

.stickyElementRight {
  position: sticky;
  position: -webkit-sticky;
  background-color: rgba(0, 0, 0, 0.8);
  width: 25%;
  height: 25%;
  top: 100px;
  display: flex;
  font-size:1.2em;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 6px #000;
  color: #fff;
  margin-left: 60%;
  padding: 30px;
}

.stickyElementWhite {
  position: sticky;
  position: -webkit-sticky;
  background-color: rgba(0, 0, 0, 0.5);
  width: 25%;
  height: 25%;
  top: 100px;
  display: flex;
  font-size:1.1em;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-left: 5%;
  padding: 15px;
}

.stickyWrapper{
  position: absolute;
  margin-top: 200px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 50%;
  min-width: 100%;
}
h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
  }

  h4{
    margin-left: 0%;
    margin-right: 0%;
  }
  .storyStyle{
    margin-left: 2%;
    margin-right: 2%;
  }
}